.eap_body {
	padding: 0px;
	margin: 10px;
	/* overflow-y: scroll; */
	/* overflow-x: hidden; */
	color: #505050;
	vertical-align: middle;
}

.eap_sign_in {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	background-color: #000;
}

.eap_header {
	padding: 0px;
	margin: 10px;
	text-align: center;
	font-weight: bold;
	font-size: 26;
	color: #505050;
}

.eap_main {
	display: table-row;
	height: 100%;
}

.eap_content {
	z-index: 5;
	position: relative;
	/*top: -2px;*/
	display: block;
	padding: 20px;
	/*width: 100%;
	height: 100%;*/
	background-color: #e8f7d7;
	border: 1px solid #96b574;
	border-top: none;
	border-right: none;
}

.eap_splitter {
	display: table-cell;
	padding: 0px;
	margin: 0px;
	min-width: 5px;
	background-color: #bbe58d;
	color: #bbe58d;
	border-radius: 3px;
	border: 1px solid #96b574;
	
}

.eap_treeview {
	display: table-cell;
	padding: 5px; /* Поля вокруг текста */
	margin: 5px;
	height: 100%;
	background-color: #e8f7d7;
}

.eap_subcontent {
	display: table-cell;
	padding: 5px; /* Поля вокруг текста */
	margin: 5px;
	width: 100%;
	/*background-color:#e8f7d7;*/
}

.eap_ref_rec {
	display: inline;
	background: white;
}

.eap_ref_rec_search {
	display: inline;
	background: white;
}

.eap_tab {
	vertical-align:middle;
	border-top-right-radius: 15px;
	display: inline-block;
	padding: 5px;
	border: 1px solid #b3dc86;
	line-height: 28px;
	cursor: pointer;
	position: relative;
	background-color:#d3f9a8;
	border: 1px solid #96b574;
	border-bottom: none;
	transition: 1s;
}

.eap_tab_active {
	background-color: #e8f7d7;
}

.eap_tab_inactive {
}

.eap_tab_inactive:active,  .eap_tab_inactive:hover{
	background-color: #b3dc86;
}

.eap_tab_content_label {
	text-align: center;
}

.eap_tab_content {
	border: 1px solid #96b574;
	border-top: none;
	padding: 10px;
	top: -1;
	/*background: #F0FFFF;*/
	border-right: none;
}

.eap_tab_content_active {
	display: inline-block;
}

.eap_tab_content_inactive {
	display: none;
}

.eap_audit {
	background-color: white;
}

div.objectinfo
{
	font-family: 'Arial';
	font-size: 11pt;
	color: #000;
}

.unitcompany_place {
    background: none repeat scroll 0% 0% #D4F8AC;
    margin: 10px;
    left: 10px;
    padding: 10px 15px 15px 40px;
}

.text {
    /* position: relative; */
    background: none repeat scroll 0% 0% #D4F8AC;
    height: 60%;
    margin: 10px;
    left: 10px;
    padding: 10px 15px 15px 40px;
}

.text3 {
    /* position: relative; */
    background: none repeat scroll 0% 0% #c2dba7;
    margin: 10px;
    left: 10px;
    padding: 10px 15px 15px 40px;
}



.caption {
	/*background: none repeat scroll 0% 0% #D4F8AC;*/
	/*font-weight: bold;*/
}

.text2 {
	/*background: none repeat scroll 0% 0% #D4F8AC;*/
	font-weight: bold;
}



input.edit {
  background-color: white;
  border: 1px solid #C0C0C0;
}

.button {
}

.button:hover {
}

.button:active {
}

.unitcompany_list {
	margin: 10px;
	padding: 10px;
	background-color: #E8FBD2;
}

.hide_list {
	background-color: #E8FBD2;
}

.table_block {
	display: none;
}

.imgmenu{
position: relative;
z-index:3;
width: 65px;
height: 65px;
top: -72px;
}

.diamond {
z-index:1;
     width: 80px;
    height: 80px;
    -webkit-transform: skew(15deg);
       -moz-transform: skew(15deg);
         -o-transform: skew(15deg);
		-ms-transform: skew(15deg);
    background: #bbfb75;
}

a {
	outline: none; /* Убираем границу вокруг ссылок  */
}
/*24.11.14*/
/*инфа о предприятии и аудиторское заключение*/



/*.eap_tab {
	display: inline-block;
	padding: 5px;
	border: 1px solid black;
	line-height: 28px;
	cursor: pointer;
	position: relative;
	bottom: 1px;
}
*/
