/* dictonary */

.eap_dictonary_item {
	position: relative;
	background: #d4f8ac;
	float: left;
	margin: 5px 10px 5px 10px;
	padding: 5px;
	cursor: pointer;
	border-left: 10px solid #b3dc86;
	border-bottom: 1px solid #b3dc86;
	/*display: inline-block;*/
	width: 500px;
	clear: both;
	left: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-transition: background 0.5s ease-in-out, left 0.5s ease-in-out, border-left 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
	-webkit-transition: background 0.5s ease-in-out, left 0.5s ease-in-out, border-left 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
	-moz-transition: background 0.5s ease-in-out, left 0.5s ease-in-out, border-left 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
	-o-transition: background 0.5s ease-in-out, left 0.5s ease-in-out, border-left 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
	transition: background 0.5s ease-in-out, left 0.5s ease-in-out, border-left 0.5s ease-in-out, border-bottom 0.5s ease-in-out;
}

.eap_dictonary_item:hover, .eap_dictonary_item:active {
	position: relative;
	background: #b3dc86;
	border-left: 10px solid #93b371;
	border-bottom: 1px solid #93b371;
	float: left;
	left: 25px;
	cursor: pointer;
}

.eap_dictonary_btn {
	cursor: pointer;
}

.eap_dictonary_list {
	/*display: block;*/
	text-align: center;
	display: inline-block;
}

.eap_dic_header_row {
	display: table-row;
}

.eap_dic_header_col {
	display: table-cell;
	padding: 5px;
	margin: 5px;
	background: #FFE4C4;
}

.eap_dic_data_row {
	display: table-row;
}

.eap_dic_data_col {
	display: table-cell;
	padding: 5px;
	margin: 5px;
	background: #FFFAF0;
}
