.eap_menu {
	text-align: left;
}

.eap_menu_btn {
	z-index: 3;
	vertical-align:middle;
	border-top-right-radius: 15px;
	display: inline-block;
	float: center;
	color: #505050;
	background-color: #d4f8ac;
	text-align:center; 
	padding: 10px 9px 10px 9px;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #96b574;
	border-bottom: none;
	transition: 1s;
}

.eap_menu_btn:hover {
	background-color: #b3dc86;
}

.eap_logout {
	position: relative;
	float:right;
	top: -5px;
	/*border-top-right-radius: 15px;*/
	padding: 5px;
	margin: 5px;
	display: inline;
	width: 30px;
	height: 30px;
	background-image: url("../images/logout.png");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #d4f8ac;
	border: 1px solid #96b574;
	transition: 1s;
	cursor: pointer;
}

.eap_logout:hover {
	background-color: #b3dc86;
}

.eap_menu_btn_active {
	background-color: #e8f7d7;
}

.eap_menu_btn_active:hover {
	background-color: #e8f7d7;
}
