
.overlay {
	visibility: hidden;
	/*visibility: visible;*/
	/*position: absolute;*/
	position: fixed;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	text-align: center;
	/*left: 0px;
	top: 0px;*/
	vertical-align: middle;
}

.overlay_table {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.overlay_cell {
	display: table-cell;
    vertical-align: middle;
    z-index: 1001;
}

.overlay_content {
	display: inline-block;
	color: #000000;
	padding: 15px;
	background-color: #ffffff;
	border: 5px solid #606060;
	border-radius: 10px;
	min-height: 250px;
    min-width: 400px;
	-moz-border-radius: 10px;  /* для firefox */
	-webkit-border-radius: 10px;  /* для Safari и Chrome */	
}


