
.eap_table_form {
}

table.std
{
	width: 95%;
	margin: 10px;
	background-color: #ffffff;
	border-collapse: collapse;
}

table.std
{
	width: 95%;
	margin: 10px;
	background-color: #ffffff;
	border-collapse:collapse;
}

table.std, th.std, td.std
{
	border: 1px solid black;
	background-color: #ffffff;
}

.std2
{
  /* border: 1px solid black; */
  border: 2px solid CornflowerBlue;
  border-top-left-radius: 33px;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  border-bottom-left-radius: 33px;
}

td.std {
	padding: 10px;
}

th.std
{
	background-color: #fefcea;
	color: black;
	padding: 10px;
}

/* new table */

.eap_table {
	display: table;
	padding: 10px;
	margin: 10px;
	border-collapse: collapse;
}

.eap_row {
	display: table-row;
}

.eap_col_left {
	display: table-cell;
	background-color: #fefcea;
	color: black;
	padding: 10px;
	margin: 10px;
	width: 300px;
	font-weight: bold;
	text-align: right;
	border: 1px solid black;
	border-collapse: collapse;
}

.eap_col_bold {
	font-weight: bold;
}

.eap_col_border_left_none {
	border-left: 1px solid #fefcea;
}

.eap_col_border_right_none {
	border-right: 1px solid #fefcea;
}

.eap_col_center {
	display: table-cell;
	background-color: #fefcea;
	color: black;
	padding: 10px;
	margin: 10px;
	max-width: 150px;
	font-weight: bold;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}

.eap_col_right {
	display: table-cell;
	background-color: #ffffff;
	color: black;
	padding: 10px;
	margin: 10px;
	text-align: left;
	border: 1px solid black;
	border-collapse: collapse;
}

.eap_col_left_simple {
	display: table-cell;
	padding: 10px;
	margin: 10px;
	text-align: right;
}

.eap_col_center_simple {
	display: table-cell;
	padding: 10px;
	margin: 10px;
	max-width: 150px;
}

.eap_col_right_simple {
	display: table-cell;
	padding: 10px;
	margin: 10px;
	text-align: left;
}
