/* tree */

.eap_tree_node {
	display: block;
	padding: 5px;
	white-space: nowrap;
	vertical-align: middle;
	cursor: default;
}

/*
.eap_tree_company {
	display: inline;
	padding: 5px;
	cursor: default;
}


.eap_tree_company:hover {
	display: inline;
	padding: 5px;
	cursor: default;
	background-color:#e8f7d7; 
}
*/

.eap_tree_node_plus {
	display: inline;
	font-weight: 900;
	font-size: 24pt;
	vertical-align:sub;
	color: #406D0F;
	cursor: pointer;
	margin-right: 3px;
	vertical-align: middle;
	/*width: 100px;
	height: 100px;*/
}

.eap_tree_node_icon {
	display: inline;
	font-weight: 900;
	font-size: 19pt;
	vertical-align:sub;
	color: #406D0F;
	cursor: pointer;
	margin-right: 3px;
	margin-left: -28px;
	vertical-align: middle;
}

.eap_icon_company {
	background-image: url("../images/tree_node_company.png");
	background-position: center;
	background-repeat: no-repeat;
}

.eap_tree_margin_left {
	margin-left: 25px;
	padding-left: 25px;
}

.eap_tree_node_elem {
	list-style-type: none;
	vertical-align:middle;
	display: inline-block;
	float: center;
	background-color: #d4f8ac;
	text-align:left;
	padding: 3px;
	margin: 3px;
	padding-left: 30px;
	text-decoration: none;
	cursor: pointer;
	border: 1px solid #b3dc86;
	width: 165px;
	vertical-align: middle;
	transition: 1s;
}

.eap_tree_node_elem:hover {
	background-color: #b3dc86;
}
